* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  border: 10px solid #2b81ac;
  background-color: #3399cc;
  min-height: 100vh;
  font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
  color: #fff;
  margin: 0;

}

main {
  width: 100%;
  margin: 0 auto;
}

h1 {
  padding-top: 10px;
  padding-bottom: 15px;

}

h2 {
  font-size: 16px;
  padding-top: 10px;
}

ul {
  font-size: 0;
  padding: 0;
}


li {
  opacity: 0.6;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  height: 110px;
  border: 4px solid #fff;
  text-align: center;
  padding: 25px;
  margin: 0 auto;

}

.small {
  width: 25%;
}

.medium {
  width: 50%;
}

li:hover {
  opacity: 1;
  transition: all .1s ease-in;
}

.container{
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
}

@media screen and (max-width: 686px)  {
        .small {
        width: 100%;
      }

      .medium {
        width: 100%;
      }
        
}

.Lisbon {
  background-color: #3399CC;
}

.Paris {
  background-color: #33CCCC;
}

.Belgrade {
  background-color: #8B5D8B;
}

.Moscow {
  background-color: #C24747;
}

.TelAviv {
  background-color: #E2674A;
}

.Cair {
  background-color: #FFCC66;
}

.NewYork {
  background-color: #8BB98B;
}

.NewDelhi {
  background-color: #669999;
}

.SanFrancisco {
  background-color: #CC6699;
}

.Tokyo {
  background-color: #339966;
}

.Sydney {
  background-color: #666699;
}